{% comment %}
 id: root
 type: Layout
 version: 11.11.11
{% endcomment %}


{% assign head = "head/_index.html" %}
{% assign postscripts = "postscripts/_index.html" %}
{% assign header = "header/_index.html" %}
{% assign menu = "menu/_index.html" %}

{% assign WINDOW = "page-wrapper" %}
{% assign LOADER = "is-preload" %}

<!DOCTYPE html>
<html>

  {% include {{ head }} %}

  <body class="{{ LOADER }}">

    <main id="{{ WINDOW }}">

    {% include {{ header }} %}

    {% include {{ menu }} %}

    <div id="wrapper">
      <div id="inner">
        {{ content }}
      </div>
   

    </div>

 
    </main>

    {% include {{ postscripts }} %}
  </body>
</html>
