---
---

{% comment %}
 id: RootLayout
 type: Layout
 version: 11.11.11
{% endcomment %}

{% assign head = "head/_index.html" %}
{% assign header = "header/_index.html" %}
{% assign postscripts = "postscripts/_index.html" %}
{% assign footer = "footer/_index.html" %}

<!DOCTYPE HTML>
<html>

 {% include {{ head }} %}

<body class="is-preload">

	<div id="wrapper">

	{% include {{ header }} %}

	<div id="main">

     {{ content }}
			
	</div>

	{% include {{ footer }} %}

    {% include {{ postscripts }} %}

 </div>
 </body>