{% assign head = "head/_index.html" %}
{% assign postscripts = "postscripts/_index.html" %}
{% assign header = "header/_index.html" %}
{% assign menu = "menu/_index.html" %}
{% assign footer = "footer/_index.html" %}
{% assign banner = "banner/_index.html" %}

<!DOCTYPE html>
<html>
  {% include {{ head }} %}

  <body class="is-preload">

    <div id="page-wrapper">
      
      <div id="tsparticles"></div>

    {% include {{ header }} %}

    {% include {{ menu }} %}
      
    {% include {{ banner }} %}

    {{ content }}

    {% include {{ footer }} %}

    </div>

    {% include {{ postscripts }} %}
  </body>
</html>
