{% comment %} 
 id: head 
 type: partial
{% endcomment %}

{% assign icons = "head/icons.html" %}
{% assign prescripts = "head/prescripts.html" %} 
{% assign webfonts = "head/webfonts.html" %} 
{% assign title = "head/title.html" %}
{% assign meta = "head/meta.html" %}

{% assign stylesheets = "head/stylesheets.html" %}

<head>
  {% include {{ title }} %}

  {% include {{ icons }} %}

  {% include {{ prescripts }} %}

  {% include {{ webfonts }} %}

  {% include {{ stylesheets }} %}

  {% include {{ meta }} %}
</head>
