{% comment %}
 id: icons.head
 type: element
 version: 11.11.11
{% endcomment %}

{% assign @icons = site.data.configs.meta.icons %}
{% assign @basePath = @icons.props.basePath %}
{% assign @ext = @icons.props.ext %}

{% for icon in @icons.data %}
 <link rel="apple-touch-icon" href="{{ icon }}" />
 <link rel="android-chrome" sizes="{{ icon }}" href="{{ @basePath }}{{ icon }}{{ @ext }}" />
 <link rel="icon shortcut" sizes="{{ icon }}" href="{{ @basePath }}{{ icon }}{{ @ext }}" />
 <link rel="apple-touch-icon" sizes="{{ icon }}" href="{{ @basePath }}{{ icon }}{{ @ext }}" />
{% endfor %}
