

	#footer {
		@include vendor('backdrop-filter', 'blur(16px) saturate(180%)');
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		.copyright {
			color: _palette(fg-light);
			font-size: 0.9em;

			a {
				color: inherit;
			}
		}
	}