{% comment %}
 id: gallery
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @galleries = site.data.galleries %}
{% assign NAME = page.gallery.name %}

{% if NAME %}
 {% assign _params_ = @galleries[NAME] %}
{% else %}
 {% assign _params_ = page.gallery.data %}
{% endif %}

{% for item in _params_ %}
<article class="thumb">
    
    <a href="/assets/images/projects/{{ item.title | downcase }}/{{ item.title | downcase }}.png" style="background-image: url('/assets/images/projects/{{ item.title | downcase }}/{{ item.title | downcase }}.png')" class="image">
     <img src="{{ item.title | downcase }}" alt="{{ item.title | downcase }}" />
    </a>

    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
    <b>{{ item.tags }}</b>
</article>
{% endfor %}