{% comment %} 
 id: Banner 
 type: Partial 
 version: 11.11.11 
{% endcomment %}

{% assign params = page.banner %}

{% if params %}
<section 
 
 style="background: url('{{ params.backgroundImage.source }}');
        min-height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;" id="banner">
       
    <div class="inner">
      <div class="logo">
       <img class="hvr-{{ params.logo.onHover }}" src="{{ params.logo.source }}" height="188px" width="188px"/>
     </div>

      <h2 class="hvr-{{ params.title.onHover }}">{{ params.title.text }}</h2>
      <br>
      <p class="hvr-{{ params.description.onHover }}">
        {{ params.description.text }}
      </p>
    </div>
  </section>
  {% endif %}