{% comment %}
 id: banner
 type: partial
 version: 11.11.11
{% endcomment %}


{% assign @banners = site.data.banners %}

{% assign params = @banners.[page.banner.name] %}

<section id="banner" style="background-image: url('{{ params.backgroundImage.source }}');" class="major">
    <div class="inner">
      <header class="major">
        <img class="avatar-xl" src="{{ params.logo.source }}"/>
        <h1 class="{{ params.title.hoverEffect }}">{{ params.title.text }}</h1>
      </header>

      <div class="hvr-{{ params.content.hoverEffect }} content">
        <p>{{ params.content.text }}</p>

        <ul class="actions">
          
           {% for action in params.actions.actions %}
          <li>
            <a href="{{ action.url }}" class="button next scrolly">{{ action.name }}</a>
          </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </section>
