{% comment %} 
 id: Banner 
 type: Partial 
 version: 11.11.11 
{% endcomment %}

{% assign local_params = page.banner %} 
{% assign global_params = site.data.banner %}
 
{% if local_params %} 
 {% assign params = local_params %}
 {% else %} 
{% assign params = global_params %}
{% endif %}

{% if params %}
<section 
 style="background: url('{{ params.backgroundImage }}');
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
       background-size: cover;" id="banner">
       
    <div class="inner">
      <div class="logo">
       <img src="/assets/images/logos/logo.png" height="128px" width="128px"/>
     </div>

      <h2>{{ params.title }}</h2>
      <p>
        {{ params.description }}
      </p>
    </div>
  </section>
  {% endif %}