{% comment %}
 id: section
 type: component
 version: 11.11.11
{% endcomment %}


{% assign @sections = site.data.sections %}
{% assign params = @sections.[page.sections.name] %}

{% for section in params %}
<section>
    <div class="inner">
      <header class="major">
        <h2 class="{{ params.title.onHover }}">{{ params.title.text }}</h2>
      </header>
      <p>
        {{ params.description.text }}
      </p>
      <ul class="actions">
        {% for action in params.actions.actions` %}
        <li>
          <a href="{{ action.href }}" class="button next">{{ action.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
</section>

{% endfor %}