// Misc.
$misc: (
    z-index-base:		10000
) ;

// Duration.
$duration: (
    menu:				0.20s,
    transition:			0.2s,
    banner:				2.2s
) ;

// Size.
$size: (
    border-radius:		19px,
    element-height:		2.55em,
    element-margin:		2em,
    inner:				72em
) ;

// Font.
$font: (
    family:				('Expletus Sans', Helvetica, sans-serif),
    family-fixed:		('Expletus Sans', monospace),
    weight:				300,
    weight-bold:		600,
    letter-spacing:		0.025em,
    letter-spacing-alt:	0.25em
) ;

// Palette.
$palette: (
    bg:					#6005ac,
    bg-alt:				#000000,
    fg:					#0a0000,
    fg-bold:			#ffffff,
    fg-light:			rgba(244,244,255,0.2),
    border:				rgba(212,212,255,0.1),
    border-bg:			rgba(212,212,255,0.035),
    highlight:			#9bf1ff,
    accent1:			#276377,
    accent2:			#553cd3,
    accent3:			#64180e,
    accent4:			#e7b788,
    accent5:			#132141,
    accent6:			#1f5f3d
) ;