{% comment %}
 id: header
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @contacts = site.data.contacts %}

{% assign params = @contacts.[page.contact.name] %}

<section id="{{ params.id }}">
  <div class="inner">
    <section>
      <form method="post" action="alert('Message Processing!')">
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="primary" /></li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
      </form>
    </section>

    <section class="split">

      {% for method in params.methods.methods %}
      <section>
        <div class="contact-method">
          <span class="icon {{ method.icon.set }} alt fa-{{ method.icon.id }}"></span>
          <h3>{{ method.name }}</h3>
          <a href="{{ method.url }}">{{ method.data }}</a>
        </div>
      </section>
      {% endfor %}
    </section>
  </div>
</section>