{% comment %}
 id: Features 
 type: Partial 
 version: 11.11.11
{% endcomment %}


{% assign local_params = page.features %} 

{% assign data_params = site.data.features.[{{ page.features }}] %}

{% assign params = local_params %} 


<section id="wrapper">


  <section id="four" xyz="fade stagger-3" class="wrapper alt style1">
    <div class="inner">
      <h2 class="xyz-in major">{{ params.title }}</h2>
      <p>
       {{ params.description }}
      </p>


      <section class="features">

        {% for feature in params.features %}
        <article class="xyz-in hvr-grow-shadow">
          <a href="#" class="image">
            <img src="{{ feature.image.source }}" alt="{{ feature.image.alt }}" />
          </a>

          <h3 class="major">{{ feature.title }}</h3>
          <p>
            {{ feature.description }}
          </p>
          <a href="#" class="special">Learn more</a>
        </article>

        {% endfor %} 

      </section>

      <ul class="actions">

        {% for action in params.actions %}
        <li class="xyz-in">
          <a href="{{ action.href }}" class="button">{{ action.name }}</a>
        </li>
         {% endfor %}

      </ul>
    </div>
  </section>



</section>
</section>