{% comment %}
 id: features
 type: partial 
{% endcomment %}

{% assign params = page.features %}


{% if params %}
<section class="hvr-{{ params.onHover }} features">

  {% for feature in params.features %}
  <article>
    <a href="#" class="image">
      <img src="{{ feature.image.source }}" alt="{{ feature.image.alt }}" />
    </a>
    <h3 class="major">{{ feature.title }}</h3>
    <p>
      {{ feature.description }}
    </p>

    {% for action in feature.actions %}
    <a href="{{ action.href }}" class="special">{{ action.name }}</a>
    {% endfor %}

  </article>
 {% endfor %} 

</section>


<ul class="actions">
  {% for action in params.actions %}
  <li>
    <a href="{{ action.href }}" class="button">{{ action.name }}</a>
  </li>
  {% endfor %}
</ul>
</div>

{% endif %}