{% comment %}
 id: menu
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @menus = site.data.menus %}

{% assign params = @menus.[page.menu.name] %}

<nav id="menu">
  
    <ul class="links">

      {% for link in params.links.links %}
      <li>
        <a class="hvr-{{ params.links.hoverEffect }}" 
           href="{{ link.url }}">{{ link.name }}</a>
      </li>
      {% endfor %}

    </ul>

    <ul class="actions stacked">
      {% for action in params.actions.actions %}
      <li>
        <a href="{{ action.url }}" class="button badge primary fit">{{ action.name }}</a>
      </li>
      {% endfor %}

    </ul>
  </nav>