{% comment %} 
 id: menu
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign params = page.menu %}
{% assign icon = "icon/_index.html" %}

<nav id="menu">
    <div class="inner">
        {% include {{ icon }} collection='fontawesome' set='solid' icon='map' height='64px' width='64px' %}
        
        <h2>{{ params.name }}</h2>

        <ul class="links">

            {% for link in params.links %}
            <li>
                <a class="hvr-{{ params.onHover }}" href="{{ link.url }}">{{ link.name }}</a>
            </li>
            {% endfor %}
    
        </ul>

        <a href="#" class="close">Disappear</a>
    </div>
</nav>