
/*
 *  STYLE 6
 */

 ::-webkit-scrollbar-track
 {
    width: 15px;
   -webkit-box-shadow: inset 0 0 6px rgba(172, 159, 159, 0.3);
   background-color: #030303;
 }
 
 ::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #F90;	
   background-image: -webkit-linear-gradient(45deg,
                                             rgba(255, 255, 255, .2) 25%,
                         transparent 25%,
                         transparent 50%,
                         rgba(255, 255, 255, .2) 50%,
                         rgba(255, 255, 255, .2) 75%,
                         transparent 75%,
                         transparent)
 }
 
 
 /*
  *  STYLE 7
  */