// Misc.
$misc: (
  z-index-base: 10000,
  max-wrapper-styles: 6,
);

// Duration.
$duration: (
  menu: 0.35s,
  transition: 0.2s,
);

// Size.
$size: (
  border-radius: 15px,
  element-height: 2.75em,
  element-margin: 2.2em,
  inner: 50em,
  section-spacing: (
    large: 3em,
    medium: 2em,
    small: 1.75em,
  ),
  wrapper-edges: (
    large: 6.5em,
    medium: 4.75em,
    small: 2.5em,
  ),
);

// Font.
$font: (
  family: (
    "Rajdhani",
    Helvetica,
    sans-serif,
  ),
  family-fixed: (
    "Rajdhani",
    monospace,
  ),
  family-heading: (
    "Rajdhani",
    Helvetica,
    sans-serif,
  ),
  weight: 300,
  weight-bold: 600,
  weight-heading: 200,
  weight-heading-bold: 700,
  kern-heading: 0.2em,
);

// Palette.


$palette: (
  header_bg: #0D0D0D,
  bg: #0D0D0D,
  fg: #925a5a,
  fg-bold: #ffffff,
  fg-light: rgba(255, 255, 255, 0.35),
  border: rgba(255, 255, 255, 0.125),
  border-bg: rgba(255, 255, 255, 0.025),
  border2: rgba(255, 255, 255, 0.25),
  border2-bg: rgba(255, 255, 255, 0.075),
  accent: #8C0303,
);
