{% comment %}
 id: tiles
 type: component
 version: 11.11.11
{% endcomment %}

{% assign @tiles = site.data.tiles %}

{% assign params = @tiles.[page.tiles.name] %}


<section id="{{ params.id }}" class="tiles">

{% for tile in params.tiles %}
  <article class="hvr-{{ params.onHover }}">
    
    <span class="image">
      <img src="{{ tile.image.source }}" alt="{{ tile.image.alt }}" />
    </span>

    <header class="major">
      <h3>
        <a href="{{ tile.href }}" class="link">{{ tile.title.text }}</a>
      </h3>
       <p>{{ tile.description.text }}</p>
    </header>
  </article>
{% endfor %}

</section>
