{% comment %}
 id: footer
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign ID = "footer" %}

{% assign SOCIALS = "footer/socials.html" %}

{% assign @socials = site.data.configs.meta.socials %}

{% assign @footers = site.data.footers %}
{% assign NAME = page.footer.name %}

{% if NAME %}
 {% assign _params_ = @footers[NAME] %} 
 
{% endif %}

<footer id="{{ ID }}" class="panel">
    <div class="inner split">
        <div>
            <section>
                {% assign @section = PARAMS.section %}
                <h2>{{ section.title }}</h2>
                <p>{{ section.description }}</p>
            </section>

            {% include {{ SOCIALS }} title="Socials"  %}


            <p class="copyright">
                {% assign @copyright = PARAMS %}
                &copy; 2021 Joshua Desir</a>
            </p>
        </div>


        <div>
            <section>
                <h2>Contact</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>