{% comment %}
 id: footer
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @footers = site.data.footers %}
{% assign NAME = page.footer.name %}

{% if NAME %}
 {% assign _params_ = @footers[NAME] %} 

{% endif %}

<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                {% assign @section = PARAMS.section %}
                <h2>{{ section.title }}</h2>
                <p>{{ section.description }}</p>
            </section>

            <section>
                {% assign @socials = PARAMS.socials %}
                <h2>{{ @socials.title }}</h2>
                <ul class="icons">
                    {% for icon in @socials.icons %}
                    <li>
                     <a href="{{ icon.link }}" 
                        class="icon brands fa-{{ icon.name }}">
                       <span class="label">{{ icon.name }}</span>
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <p class="copyright">
                {% assign @copyright = PARAMS %}
                &copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.
            </p>
        </div>


        <div>
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>