{% comment %}
 id: copyright
 type: element
 version: 11.11.11
{% endcomment %}


{% assign copyright = "footer/copyright.html" %}

{% assign @socials = site.data.socials %}
	
<footer id="footer">
  <div class="inner">
    <ul class="icons">

      {% for social in @socials.socials %}
      <li>
        <a href="{{ social.url }}" data-tooltip="{{ social.name }}" class="hvr-{{ @socials.hoverEffect }} tooltip icon {{ social.icon.set }} alt fa-{{ social.icon.id }}">
          <span class="label">{{ social.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
   {% include {{ copyright }} %}
  </div>
</footer>
