{% comment %} 
 id: header 
 type: partial
 version: 11.11.11
{% endcomment %}


{% assign local_params = page.footer.header %} 

{% assign params = site.data.globals.footer.header %}

{% assign contact = "footer/contact.html" %} 

<div class="inner">
    <div class="wrapper">

        <h2 class="hvr-{{ params.title.onHover }} major">{{ params.title.text }}</h2>
    
        <p>{{ params.description.text }}</p>
    
    <div class="inner">
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message"></li>
            </ul>
        </form>
        
        <ul class="contact">

            {% for link in params.contact.links %}
            <li class="icon solid fa-home">
              {{ link.id }}
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>

</div>
