{% comment %} 
 id: footer.socials
 type: Element 
 version: 11.11.11
{% endcomment %} 

{% assign params = site.data.globals.footer.socials %}
{% assign icon = "icon/_index.html" %}

<ul class="socials">

    {% for social in params.socials %}
    <li class="hvr-{{ params.onHover }}">
        <button onclick="location.href='{{ social.href }}';">
        {% assign collection = social.icon.collection %}
        {% assign icon = social.icon.name %}
        </button>
        
    </li>

    {% endfor %}
</ul>