{% comment %} 
 id: footer.socials
 type: Element 
 version: 11.11.11
{% endcomment %} 

{% assign params = site.data.globals.footer.socials %}
{% assign icon = "icon/_index.html" %}

<ul class="socials">

    {% for social in params.socials %}
    <li class="hvr-{{ params.onHover }}">
        <button class="icon flex item-center link" onclick="location.href='{{ social.href }}';">
        {% assign _coll_ = social.fa_icon.collection %}
        {% assign _id_ = social.fa_icon.id %}
        {% include {{ icon }} classes="p-relative" type='fa_icon' id=_id_ collection=_coll_ height='33px' width='33px' %}
        </button>
        
    </li>

    {% endfor %}
</ul>