{% comment %}
 id: Articles 
 type: Partial 
 version: 11.11.11
{% endcomment %}


{% assign local_params = page.articles %} 

{% assign data_params = site.data.articles.[{{ page.article }}] %}

{% assign params = local_params %} 

{% if params %}
<section id="wrapper">

  {% for article in params.articles %}

  <section class="wrapper spotlight {{ article.class }} style{{ forloop.index }}">
    <div class="inner">
      <a href="{{ article.url }}" class="image">
        <img src="{{ article.image.source }}" alt="{{ article.image.alt }}" /></a>
      <div class="content">

        <h2 class="major">{{ article.title }}</h2>
        <p>
          {{ article.description }}
        </p>

       
        <nav>
          {% for action in article.actions %}
          <a href="{{ action.url }}" class="special">{{ action.name }}</a>
          {% endfor %}
  
        </nav>
        
      </div>
    </div>
  </section>
{% endfor %}

</section>

{% endif %}
