{% comment %}
 id: Articles
 type: Partial
 version: 11.11.11
{% endcomment %}

{% assign local_params = page.articles %} 

{% for article in local_params.articles %}

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="{{ article.image.source }}" alt="" /></a>
    <div class="content">

      <h2 class="major">{{ article.title }}</h2>
      <p>
      {{ article.description }}
      </p>

      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>
{% endfor %}