{% assign @headers = site.data.headers %}

{% assign params = @headers.[page.header.name] %}

{% assign _layoutResponsive_ = "show-xs show-sm show-md" %}

<div class="dropdown">
    <div class="show-xs show-sm show-md btn-group">
      <a href="#" class="btn">&</a>
      <a href="#" class="btn dropdown-toggle" tabindex="0">
        <i class="icon icon-caret"></i>
      </a>

      <ul class="menu">

        {% for link in params.links.links %}
        <li><a data-badge="0" class="badge hvr-{{ params.links.fx.hover }} href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>