{% comment %} 
 id: icon
 type: component
 version: 11.11.11
{% endcomment %}

{% assign fa_icon = "icon/fa_icon.html" %}

{% assign basePath = "/assets/images/icons/" %}

{% capture _type_ %}
 {{ include.type }}
{% endcapture %}

{% capture _id_ %}
 {{ include.id }}
{% endcapture %}

{% if _type_ == "fa_icon" %}
 {% capture _id_ %}
 {{ include.id }}
 {% endcapture %}

 {% capture _coll_ %}
 {{ include.coll }}
 {% endcapture %}

{% include {{ fa_icon }} id=_id_ collection=_coll_ %}
{% endif %}

